
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>&copy; Andy Elsbury. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="{{ base_url() }}/js/jquery.min.js"></script>
<script src="{{ base_url() }}/js/jquery.scrollex.min.js"></script>
<script src="{{ base_url() }}/js/jquery.scrolly.min.js"></script>
<script src="{{ base_url() }}/js/skel.min.js"></script>
<script src="{{ base_url() }}/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ base_url() }}/js/main.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--<script src="https://code.angularjs.org/snapshot/angular.min.js"></script>-->

</body>
</html>
